<div class="panel panel-reddrop" style="margin-bottom: 0px">
    <div class="panel-heading">
        Add a Blood Request for Patient:
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="patientCnp">C.N.P.</label>
                <input ng-model="ctrl.patientRegisterCnp" type="text" class="form-control" id="patientCnp"
                       placeholder="Enter CNP">
            </div>

            <div class="form-group">
                <label for="patientName">Full Name</label>
                <input ng-model="ctrl.patientRegisterFullName" type="text" class="form-control" id="patientName"
                       placeholder="Full Name">
            </div>

            <div class="form-group">
                <label for="patientImportance">Importance</label>
                <select ng-model="ctrl.patientRegisterImportance" ng-not-empty ng-options="importance for importance in ctrl.importances"
                        class="form-control" id="patientImportance"
                        placeholder="Importance">
                </select>
            </div>

            <div class="form-group">
                <label for="patientType">Blood Type</label>
                <select ng-model="ctrl.patientBloodType" ng-not-empty ng-options="bloodType.type for bloodType in ctrl.bloodTypes track by bloodType.uuid"
                        class="form-control" id="patientType"
                        placeholder="BloodType">
                </select>
            </div>

            <div class="form-group">
                <label for="bagType">Bag Type</label>
                <select ng-model="ctrl.bagType" ng-not-empty ng-options="bagType.name for bagType in ctrl.bagTypes track by bagType.uuid"
                        class="form-control" id="bagType"
                        placeholder="BagType">
                </select>
            </div>


            <div class="btn-lg btn-reddrop form-group" style="text-align: center"
                 ng-click="ctrl.addBloodRequest()">
                Request
            </div>
        </form>
    </div>
</div>