<div class="panel panel-reddrop" style="margin-bottom: 0px; width: 50vw;">
    <div class="panel-heading">
        Input the Blood Type of The Donator
    </div>
    <div class="panel-body">
        <form class="col-md-12">
            <div class="form-group col-md-12">

                <div class="form-group col-md-6">
                    <label for="patientType">Blood Type</label>
                    <select ng-model="ctrl.patientBloodType" ng-not-empty ng-options="bloodType.type for bloodType in ctrl.bloodTypes track by bloodType.uuid"
                            class="form-control" id="patientType"
                            placeholder="BloodType">
                    </select>
                </div>

            </div>

            <div class="form-group col-md-12">
                <div class="btn-lg btn-reddrop" style="text-align: center"
                     ng-click="ctrl.addFreshBloodBag(ctrl.patientBloodType.uuid)">
                    Register
                </div>
            </div>
        </form>
    </div>
</div>