<div class="panel panel-reddrop" style="margin-bottom: 0px">
    <div class="panel-heading">
        Confirm Eligibility Requirements
    </div>
    <div class="panel-body ">
        <form id="registerform">
            <div class="form-group">
                <label for="cnpLogin">Password</label>
                <input ng-model="ctrl.password1" type="password" required minlength="6"  class="form-control" id="cnpLogin"
                       aria-describedby="cnpHelp" placeholder="Password">

            </div>

            <div class="form-group">
                <label for="passwordLogin">Password Again</label>
                <input ng-model="ctrl.password2" type="password" required minlength="6" class="form-control" id="passwordLogin"
                       placeholder="Password">
            </div>

            <input type="submit" class="btn-lg btn-reddrop col-md-12" value="Change">

        </form>
    </div>
</div>