<div style="padding-top: 5vh;">

    <div class="col-md-6 col-md-offset-3">

        <div class="col-md-12">
            <div back-btn></div>
        </div>

        <div class="col-md-12">

            <div class="panel panel-reddrop">
                <div class="panel-heading">
                    Your Analysis Results
                </div>
                <div class="panel-body">
                    <span>
                        Sodium Level: {{ ctrl.analysis.sodium }}
                    </span>
                    <span>
                        Potassium Level: {{ ctrl.analysis.potassium }}
                    </span>
                    <span>
                        Urea Level: {{ ctrl.analysis.urea }}
                    </span>
                    <span>
                        Creatinine Level: {{ ctrl.analysis.creatinine }}
                    </span>
                    <span>
                        Glucose Level: {{ ctrl.analysis.glucose }}
                    </span>
                </div>
            </div>

        </div>

    </div>

</div>

