<div class="panel panel-reddrop" style="margin-bottom: 0px">
    <div class="panel-heading">
        Your Analysis Results
    </div>
    <div class="panel-body">
        <h6 style="color: floralwhite">
            Sodium Level: {{ ctrl.analysis.sodium }}
        </h6><br>
        <h6 style="color: floralwhite">
            Potassium Level: {{ ctrl.analysis.potassium }}
        </h6><br>
        <h6 style="color: floralwhite">
            Urea Level: {{ ctrl.analysis.urea }}
        </h6><br>
        <h6 style="color: floralwhite">
            Creatinine Level: {{ ctrl.analysis.creatinine }}
        </h6><br>
        <h6 style="color: floralwhite">
            Glucose Level: {{ ctrl.analysis.glucose }}
        </h6>
    </div>
</div>


