<div style="padding-top: 5vh;">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-5">

            <div class="panel panel-reddrop">
                <div class="panel-heading">
                        <span>
                            Blood Stock
                        </span>
                    <div style="float: right;" ng-click="ctrl.openAddBloodBagDialog()">
                        <i class="material-icons">add</i>
                    </div>
                    <div style="float: right;" ng-click="ctrl.goToFillAnalysisPage()">
                        <i class="material-icons">move_to_inbox</i>
                    </div>
                </div>
                <div class="panel-body">
                    <md-list>
                        <md-list-item ng-click="null">
                            <div class="col-md-3">Blood Type</div>
                            <div class="col-md-3" ng-repeat="bagType in ctrl.bloodBagTypes | orderBy:'name':true"
                                 style="text-align: center">
                                {{bagType.name }}
                            </div>
                        </md-list-item>
                        <md-list-item ng-repeat="bloodStock in ctrl.bloodStocks | orderBy:'bloodType.type'"
                                      ng-click="null">
                            <div class="col-md-3">{{bloodStock.bloodType.type}}</div>
                            <div class="col-md-3" ng-repeat="bloodBagType in bloodStock.stock | orderBy:'name':true"
                                 style="text-align: center">
                                {{ bloodBagType.value }}
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>

            <div class="btn btn-reddrop" ng-click="ctrl.goToHospitalsPage()">
                Hospitals
            </div>

            <div class="btn btn-reddrop" ng-click="ctrl.goToDonatorsPage()">
                Donators
            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-reddrop">
                <div class="panel-heading">
                    <span>
                        Scheduled Visits
                    </span>
                </div>
                <div class="panel-body">
                    <md-list>
                        <md-list-item ng-repeat="visit in ctrl.visits | orderBy:'date'" ng-click="null">
                            <p>{{ visit.date | date:"dd/MM/yyyy" }} - {{ visit.donatorName }}</p>
                            <div class="md-secondary" aria-label="Fill Analysis"
                                 ng-click="ctrl.confirmVisitDialog(visit.uuid)">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="md-secondary" aria-label="Delete Hospital" ng-click="ctrl.deleteDonationVisit(visit.uuid)">
                                <i class="material-icons">delete</i>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-reddrop">
                <div class="panel-heading">
                    <span>
                        Blood Requests
                    </span>
                </div>
                <div class="panel-body">
                    <md-list>
                        <md-list-item ng-repeat="request in ctrl.requests" ng-click="null">
                            <p>{{ request.date | date:"dd/MM/yyyy" }} - {{ request.patientFullName }}</p>
                            <span class="badge badge-danger">{{ ctrl.getBloodTypeByUUID(request.bloodType) }}</span>
                            <span class="badge badge-primary">{{ ctrl.getBloodBagTypeByUUID(request.bloodBagType) }}</span>
                            <span class="badge badge-light">{{ request.status }}</span>
                            <!--<div class="md-secondary" aria-label="Fill Analysis"
                                 ng-click="ctrl.openFillAnalysisDialog(visit.uuid)">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="md-secondary" aria-label="Delete Hospital" ng-click="null">
                                <i class="material-icons">delete</i>
                            </div>-->
                        </md-list-item>
                    </md-list>
                </div>
            </div>

        </div>

        <div class="col-md-5" style="text-align: center">
            <div logout-btn></div>
        </div>

    </div>

</div>