<div style="padding-top: 5vh;">

    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-reddrop">
            <div class="panel-heading">
                <span>
                    Hospitals
                </span>
                <div style="float: right;" ng-click="ctrl.openAddHospitalDialog()">
                    <i class="material-icons">add</i>
                </div>
            </div>
            <div class="panel-body">
                <md-list>
                    <md-list-item ng-repeat="hospital in ctrl.hospitals" ng-click="ctrl.goToHospitalPage(hospital.uuid)">
                        <p>{{ hospital.name }}</p>
                        <div class="md-secondary" aria-label="Add Doctor" ng-click="ctrl.openRegisterDoctorDialog(hospital.uuid)">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="md-secondary" aria-label="Delete Hospital" ng-click="ctrl.deleteHospital(hospital.uuid)">
                            <i class="material-icons">delete</i>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>

        <div class="panel panel-reddrop">
            <div class="panel-heading">
                <span>
                    Scheduled Visits
                </span>
            </div>
            <div class="panel-body">
                <md-list>
                    <md-list-item ng-repeat="visit in ctrl.visits" ng-click="null">
                        <p>{{ visit.date }} - {{ visit.donatorName }}</p>
                        <div class="md-secondary" aria-label="Add Doctor" ng-click="null">
                            <i class="material-icons">add</i>
                        </div>
                        <div class="md-secondary" aria-label="Delete Hospital" ng-click="null">
                            <i class="material-icons">remove</i>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="text-align: center">
        <div logout-btn></div>
    </div>

</div>