<div style="padding-top: 5vh;">

    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-reddrop">
            <div class="panel-heading">
                    <span>
                        Untested Blood Bags
                    </span>
            </div>
            <div class="panel-body">
                <md-list>
                    <md-list-item ng-repeat="visit in ctrl.visits | orderBy:'date'" ng-click="null">
                        <p>{{ visit.date | date:"dd/MM/yyyy" }} - {{ visit.donatorName }} </p>
                        <div class="md-secondary" aria-label="Fill Analysis"
                             ng-click="ctrl.openFillAnalysisDialog(visit.uuid)">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="md-secondary" aria-label="Delete Hospital" ng-click="null">
                            <i class="material-icons">delete</i>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>