<div style="padding-top: 5vh;">

    <div class="col-md-10 col-md-offset-1">

        <div class="col-md-12">
            <div back-btn></div>
        </div>

        <div class="col-md-4">

            <div class="panel panel-reddrop">
                <div class="panel-heading">
                    <span>
                        Blood Stock
                    </span>
                </div>
                <div class="panel-body">
                    <md-list>
                        <md-list-item>
                            <div class="col-md-3">Blood Type</div>
                            <div class="col-md-3" ng-repeat="bagType in ctrl.bloodBagTypes | orderBy:'name':true"
                                 style="text-align: center">
                                {{bagType.name }}
                            </div>
                        </md-list-item>
                        <md-divider ></md-divider>
                        <md-list-item ng-repeat="bloodStock in ctrl.bloodStocks | orderBy:'bloodType.type'"
                                      ng-click="null">
                            <div class="col-md-3">{{bloodStock.bloodType.type}}</div>
                            <div class="col-md-3" ng-repeat="bloodBagType in bloodStock.stock | orderBy:'name':true"
                                 style="text-align: center">
                                {{ bloodBagType.value }}
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>

        </div>

        <div class="col-md-8">

            <div class="panel panel-reddrop">
                <div class="panel-heading">
                    <span>
                        Blood Requests
                    </span>
                </div>
                <div class="panel-body">
                    <md-list>
                        <md-list-item>
                            <div class="col-md-1">
                                Date
                            </div>
                            <div class="col-md-4">
                                Patient
                            </div>
                            <div class="col-md-1">
                                Importance
                            </div>
                            <div class="col-md-2">
                                Type
                            </div>
                            <div class="col-md-2">
                                Status
                            </div>
                            <div class="col-md-1">
                                Options
                            </div>
                        </md-list-item>
                        <md-divider ></md-divider>
                        <md-list-item ng-repeat="request in ctrl.requests" ng-click="null">
                            <div class="col-md-1">
                                {{ request.date | date:"dd/MM/yyyy" }}
                            </div>
                            <div class="col-md-4">
                                {{ request.patientFullName }}
                            </div>
                            <div class="col-md-1">
                                <span class="badge badge-success">{{ request.importance }}</span>
                            </div>
                            <div class="col-md-2">
                                <span class="badge badge-danger">{{ ctrl.getBloodTypeByUUID(request.bloodType) }}</span>
                                <span class="badge badge-primary">{{ ctrl.getBloodBagTypeByUUID(request.bloodBagType) }}</span>
                            </div>
                            <div class="col-md-2">
                                <span class="badge badge-light">{{ request.status }}</span>
                            </div>
                            <!--<div class="md-secondary" aria-label="Fill Analysis"
                                 ng-click="ctrl.openFillAnalysisDialog(visit.uuid)">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="md-secondary" aria-label="Delete Hospital" ng-click="null">
                                <i class="material-icons">delete</i>
                            </div>-->
                        </md-list-item>
                    </md-list>
                </div>
            </div>

        </div>

    </div>

</div>