<div class="panel panel-reddrop" style="margin-bottom: 0px">
    <div class="panel-heading">
        Add a Blood Request for Patient:
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="patientCnp">C.N.P.</label>
                <input ng-model="ctrl.patientRegisterCnp" type="text" class="form-control" id="patientCnp"
                       placeholder="Enter CNP">
            </div>

            <div class="form-group">
                <label for="patientName">Full Name</label>
                <input ng-model="ctrl.patientRegisterFullName" type="text" class="form-control" id="patientName"
                       placeholder="Full Name">
            </div>

            <div class="form-group">
                <label for="patientImportance">Importance</label>
                <input ng-model="ctrl.patientRegisterImportance" type="text" class="form-control" id="patientImportance"
                       placeholder="Importance">
            </div>

            <div class="form-group">
                <label for="patientType">Importance</label>
                <select ng-model="ctrl.patientBloodType" ng-not-empty ng-options="bloodType.type for bloodType in ctrl.bloodTypes track by bloodType.uuid"
                        class="form-control" id="patientType"
                        placeholder="Importance">
                </select>
            </div>


            <div class="btn-lg btn-reddrop form-group" style="text-align: center"
                 ng-click="ctrl.tryRegisterBloodRequest()">
                Request
            </div>
        </form>
    </div>
</div>