<div style="position: relative; z-index: 1000">
    <div style="background: #333333; position: fixed; bottom: 0; left: 0; right: 0;min-height: 10vh" ng-hide="consent()">
        <div style="margin-right: 10vw;margin-left: 10vw;margin-top: 2vh;text-align: center;margin-bottom: 2vh">
        <span style="color: floralwhite">
            By closing this message, you consent to our cookies on this device in accordance with our cookie policy unless you have disabled them.
        </span>
            <br>
            <div class="btn btn-reddrop" ng-click="consent(true)">I'm cookie consent</a>
            </div>
        </div>
    </div>
</div>