<div class="panel panel-reddrop" style="margin-bottom: 0px; width: 50vw;">
    <div class="panel-heading">
        Fill the Analysis
    </div>
    <div class="panel-body">
        <form class="col-md-12">
            <div class="form-group col-md-12">
                <div class="form-group col-md-6">
                    <label for="pulse">Sodium (mmol/L)</label>
                    <input ng-model="ctrl.analysis.sodium" type="number" class="form-control" id="pulse"
                           placeholder="Sodium">
                </div>

                <div class="form-group col-md-6">
                    <label for="potassium">Potassium (mmol/L)</label>
                    <input ng-model="ctrl.analysis.potassium" type="number" class="form-control" id="potassium"
                           placeholder="Potassium">
                </div>

                <div class="form-group col-md-6">
                    <label for="urea">Urea (mmol/L)</label>
                    <input ng-model="ctrl.analysis.urea" type="number" class="form-control" id="urea"
                           placeholder="Urea">
                </div>

                <div class="form-group col-md-6">
                    <label for="creatinine">Creatinine (μmol/L)</label>
                    <input ng-model="ctrl.analysis.creatinine" type="number" class="form-control" id="creatinine"
                           placeholder="Creatinine">
                </div>

                <div class="form-group col-md-6">
                    <label for="glucose">Glucose (mmol/L)</label>
                    <input ng-model="ctrl.analysis.glucose" type="number" class="form-control" id="glucose"
                           placeholder="Glucose">
                </div>

                <div class="form-group col-md-6">
                    <label for="patientType">Blood Type</label>
                    <select ng-model="ctrl.patientBloodType" ng-not-empty ng-options="bloodType.type for bloodType in ctrl.bloodTypes track by bloodType.uuid"
                            class="form-control" id="patientType"
                            placeholder="BloodType">
                    </select>
                </div>

            </div>

            <div class="form-group col-md-12">
                <div class="btn-lg btn-reddrop" style="text-align: center"
                     ng-click="ctrl.tryRegisterAnalysis()">
                    Register
                </div>
            </div>
        </form>
    </div>
</div>