<div class="panel panel-reddrop" style="margin-bottom: 0px">
    <div class="panel-heading">
        Fill the Analysis
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="pulse">Enter Pulse</label>
                <input ng-model="ctrl.donatorPulse" type="number" class="form-control" id="pulse"
                       placeholder="Enter CNP">
            </div>

            <div class="form-group">
                <label for="tension">Tension</label>
                <input ng-model="ctrl.donatorTension" type="number" class="form-control" id="tension"
                       placeholder="Name">
            </div>

            <md-list-item ng-repeat="disease in ctrl.diseases" ng-click="null">
                <p>{{ disease }}</p>
                <input ng-model="ctrl.diseases" type="checkbox" class="form-control">
            </md-list-item>


            <div class="btn-lg btn-reddrop form-group" style="text-align: center"
                 ng-click="ctrl.tryRegisterAnalysis()">
                Register
            </div>
        </form>
    </div>
</div>