
.form-element {
    margin-bottom: 25px;
}

.button-wrapper .btn {
    margin-bottom: 25px;
}

.button-wrapper .btn-lg {
    margin-bottom: 25px;
}

.button-wrapper .txt-i {
    margin-bottom: 25px;
}